@import "./fonts.css";
@import "tailwindcss";

@theme {
    --font-sans: 'Google Sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: 'Baskervville', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: 'Monaspace Neon', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer utilities {
    .font-mono {
        font-variant-ligatures: normal;
        font-feature-settings: 'calt', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'ss08', 'ss09', 'ss10', 'liga';
    }
}