---
import { SITE_TITLE } from "../consts";
---

<header class="pb-1 border-b-2 border-gray-500 text-zinc-800">
	<nav>
		<h2 class="text-3xl italic font-mono md:text-4xl">
			<a href="/">{SITE_TITLE}/~</a>
		</h2>
	</nav>
</header>
