---
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BlogList from "../components/BlogList.astro";
import Header from "../components/Header.astro";
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<Header slot="header" />
	<div class="flex flex-col gap-5">
		<section>
			<p class="text-zinc-100">
				I am a software developer based in India. I enjoy building web
				applications, exploring new technologies, and sharing my
				learnings through this blog. Stay tuned for posts on
				programming, software architecture, and personal projects!
			</p>
		</section>
		<section>
			<BlogList />
		</section>
	</div>
</MainLayout>
