---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import GridPattern from "../components/effects/GridPattern.astro";
import StaticNoise from "../components/effects/StaticNoise.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body
        class="relative flex flex-col h-full w-full min-h-svh min-w-svw bg-gradient-to-b from-neutral-900 via-neutral-900 to-neutral-700"
    >
        <StaticNoise opacity={0.1} />
        <GridPattern />
        <slot name="header" />
        <main class="flex-1 p-3">
            <slot />
        </main>
        <Footer />
    </body>
</html>
